{% extends "strategies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    .stats th{
        padding: 10px;
        border: 1px solid #d3d3d3;
        border-collapse: collapse;
        font-size: 10px;
    }
    .stats td{
        padding: 10px;
        border: 1px solid #d3d3d3;
        border-collapse: collapse;
        width: 30%;
        font-size: 10px;
    }
    .stats tr:nth-child(even) {
        background-color: #D6EEEE;
    }
    table{
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<h5>{% block title %} Historical Price for {{stock}} {% endblock %}</h5>
<table style="width:100%">
    <tr>
        <td>
            <a href="{% url 'history-price' stock 'daily' %}" class="btn btn-outline-warning" style="width:80%">
                Daily&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </button>
        </td>
        <td>
            <a href="{% url 'history-price' stock 'weekly' %}" class="btn btn-outline-info" style="width:80%">
                Weekly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td id="result">
            <a href="{% url 'history-price' stock 'monthly' %}" class="btn btn-outline-success" style="width:80%" >
                Monthly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td >
            <a href="{% url 'history-price' stock 'yearly' %}" class="btn btn-outline-danger" style="width:80%" >
                Yearly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
    </tr>
</table>
<div class="row">
	<div class="col-md-12">
        <div id="container" style="width: 100%;">
            <canvas id="line-chart" data-url="{% url 'get-historical-prices' stock interval %}"></canvas>
          <script>
            window.onload = function() {
                $.ajax({
                    url: "{% url 'get-historical-prices' stock interval %}",
                    success: function (data) {
                        document.getElementById('open').innerHTML = "$ " + data.open
                        document.getElementById('close').innerHTML = "$ " + data.close
                        document.getElementById('adjclose').innerHTML = "$ " + data.adjclose
                        document.getElementById('volume').innerHTML = data.volume
                        document.getElementById('marketcap').innerHTML = data.marketcap
                        document.getElementById('high').innerHTML = "$ " + data.high
                        document.getElementById('low').innerHTML = "$ " + data.low
                        document.getElementById('avgvol').innerHTML = data.avgvol
                        document.getElementById('pe').innerHTML = data.pe
                        document.getElementById('dividend').innerHTML = data.dividend

                        var ctx = document.getElementById('line-chart').getContext('2d');
                        window.myLine = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'Historical Price Chart'.concat(" for ",  "{{ stock }}"),
                                    data: data.data,
                                    backgroundColor: [
                                        'rgba(0,100,0, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(0,100,0, 0.8)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 4
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            min: Math.floor(Math.min(...data.data) - 5),
                                            max: Math.floor(Math.max(...data.data) + 5)
                                        }
                                    }]
                                }
                            }
                        });
                    }
                })
            };
          </script>
        </div>
    </div>
</div>
<table class="stats" style="width:100%">
    <tr>
        <th style="font-size:15px;">
            Stats
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <td>
            <span><strong>Open</strong></span><span class="pull-right" id='open'></span>
        </td>
        <td>
            <span><strong>Volume</strong></span><span class="pull-right" id='volume'></span>
        </td>
    </tr>
    <tr>
        <td>
            <span><strong>52 Week High</strong></span><span class="pull-right" id='high'></span>
        </td>
        <td>
            <span><strong>Avg Vol</strong></span><span class="pull-right" id='avgvol'></span>
        </td>
    </tr>
    <tr>
        <td>
            <span><strong>52 Week Low</strong></span><span class="pull-right" id='low'></span>
        </td>
        <td>
            <span><strong>Mkt Cap</strong></span><span class="pull-right" id='marketcap'></span>
        </td>
    </tr>
    <tr>
        <td>
            <span><strong>Close</strong></span><span class="pull-right" id='close'></span>
        </td>
        <td>
            <span><strong>Adj Close</strong></span><span class="pull-right" id='adjclose'></span>
        </td>
    </tr>
    <tr>
        <td>
            <span><strong>P.E. Ratio</strong></span><span class="pull-right" id='pe'></span>
        </td>
        <td>
            <span><strong>Div/Yield</strong></span><span class="pull-right" id='dividend'></span>
        </td>
    </tr>
</table>
<table style="width: 100%">
    <tr>
        <td>
            <a href="{% url 'stock-price' stock %}" class="btn btn-outline-success" style="width:80%">
                Live Data&nbsp;&nbsp;<i class="fa fa-line-chart" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
        {% if user.is_authenticated %}
        <tr>
            <td>
                <a href="{% url 'user-add-stock' user.username stock %}" class="btn btn-outline-info" style="width:80%">
                    Add Stock&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'user-buy-stock' user.username stock %}" class="btn btn-outline-success" style="width:80%">
                    Buy Stock&nbsp;&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endif %}
</table>
{% endblock %}