{% extends "strategies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<h1>{% block title %} Historical Price for {{stock}} {% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        <div id="container" style="width: 100%;">
            <canvas id="line-chart" data-url="{% url 'get-historical-prices' stock interval %}"></canvas>
          <script>
            window.onload = function() {
                $.ajax({
                    url: "{% url 'get-historical-prices' stock interval %}",
                    success: function (data) {
                        var ctx = document.getElementById('line-chart').getContext('2d');
                        window.myLine = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'Historical Price Chart'.concat(" for ",  "{{ stock }}"),
                                    data: data.data,
                                    backgroundColor: [
                                        'rgba(127,255,0, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(127,255,0,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 4
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            min: 0
                                        }
                                    }]
                                }
                            }
                        });
                    }
                })
            };
          </script>
        </div>
    </div>
</div>
<table style="width: 100%">
    <tr>
        <td>
            <a href="{% url 'stock-price' stock %}" class="btn btn-outline-warning" style="width:80%">
                Live Prices&nbsp;&nbsp;<i class="fa fa-line-chart" aria-hidden="true"></i>
            </button>
        </td>
        <td>
            <a href="{% url 'history-price' stock 'weekly' %}" class="btn btn-outline-info" style="width:80%">
                Weekly&nbsp;&nbsp;<i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td id="result">
            <a href="{% url 'history-price' stock 'monthly' %}" class="btn btn-outline-success" style="width:80%" >
                Monthly&nbsp;&nbsp;<i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td >
            <a href="{% url 'history-price' stock 'yearly' %}" class="btn btn-outline-danger" style="width:80%" >
                Yearly&nbsp;&nbsp;<i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </i>
            </a>
        </td>
    </tr>
</table>
{% endblock %}