{% extends "strategies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction(stock, index) {
        let id = stock.concat("-", index);
        document.getElementById(id).classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<style>
    .dropbtn {
        background-color: #85bb65;
        color: white;
        padding: 16px;
        font-size: 13px;
        border-radius: 10px;
        width: 85px;
        cursor: pointer;
        text-align: center;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #4F8042;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd}

    .show {display:block;}
</style>
    {% for index in stocks %}
    <div class="container">
            <h5>{{index}} </h5>
            <table style="border: 1px solid #d3d3d3;">
                <tr>
                {% for stock in stocks|get_item:index %}
                    <td style="padding:10px; border: 1px solid #d3d3d3; width:100% fit-content; font-size: 12px;">
                        <div class="dropdown">
                            <button onclick="myFunction('{{ stock }}', '{{ index }}')" class="dropbtn">
                                {{ stock }}
                            </button>
                            <div id = "{{ stock }}-{{ index }}" class="dropdown-content">
                                <a href="{% url 'stock-price' stock %}"> Live Data </a>
                                <a href="{% url 'history-price' stock interval %}"> Historical Prices </a>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'user-add-stock' user.username stock %}"> Track This Stock </a>
                                    <a href="{% url 'user-buy-stock' user.username stock %}"> Buy This Stock </a>
                                {% endif %}                                               
                            </div>
                        </div> 
                    </td>                   
                    {% if forloop.counter|divisibleby:7 %}
                    </tr>
                    <tr>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
    </div>
    <br>
    {% endfor %}
{% endblock content %}

