{% extends "strategies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>

<script>
    function get_live_price() {
        var price;
        $.ajax({
            url: "{% url 'price' stock=stock %}",
            success:  function(response){
                price = response.price
                time = response.time
                document.getElementById("price").value = price
                document.getElementById("time").value = time
            }
        });
    };
    function get_daily_price() {
        var price;
        $.ajax({
            url: "{% url 'price' stock=stock %}",
            success:  function(response){
                price = response.price
                time = response.time
            }
        });
    };
    window.onload = function () {

        var dps = []; // dataPoints
        var historical_prices = {{ dps }};
        var today = new Date()
        var year = today.getFullYear()
        var month = today.getMonth()
        var day = today.getDate()
        var start_time = new Date(year=year, month=month, day=day, hours=9, minutes=30);
        for (const [key, value] of Object.entries(historical_prices)) {
            let hour = String(start_time.getHours());
            let minutes = String(start_time.getMinutes());
            let time = hour.concat(":", minutes);
            dps.push({
                label: time,
                y: value
            })
            start_time.setMinutes(start_time.getMinutes() + 1);
        }
        console.log(dps)
        var chart = new CanvasJS.Chart("chartContainer", {
            axisX:{
                title: "Time in Minutes",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY:{
                title: "Price in US Dollars",
                prefix: "$",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            title :{
                text: "Live Prices"
            },
            data: [{
                type: "line",
                dataPoints: dps,
                lineColor: "lightgreen",
            }]
        });
        var updateInterval = 60000;

        var updateChart = function (count) {
            count = count || 1;
            get_live_price()
            var yVal = document.getElementById("price").value;
            var time = document.getElementById("time").value;
            dps.push({
                y: yVal,
                label: time,
            });
            chart.render()
        };
        updateChart();
        setInterval(function(){updateChart()}, updateInterval);
    }
</script>
</head>
<body>
<div id="price"></div>
<div id="time"></div>
<h6>{{stock}}</h6>
<table style="width:100%">
    <tr>
        <td>
            <a href="{% url 'history-price' stock 'daily' %}" class="btn btn-outline-warning" style="width:80%">
                Daily&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </button>
        </td>
        <td>
            <a href="{% url 'history-price' stock 'weekly' %}" class="btn btn-outline-info" style="width:80%">
                Weekly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td id="result">
            <a href="{% url 'history-price' stock 'monthly' %}" class="btn btn-outline-success" style="width:80%" >
                Monthly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
        <td >
            <a href="{% url 'history-price' stock 'yearly' %}" class="btn btn-outline-danger" style="width:80%" >
                Yearly&nbsp;&nbsp;<i class="fa fa-area-chart" aria-hidden="true"></i>
            </i>
            </a>
        </td>
    </tr>
</table>
<div id="chartContainer" style="height: 300px; width: 100%"></div>
<br>
<br>
<table style="width: 100%">
    <tr>
        <td>
            <a href="{% url 'stock-price' stock %}" class="btn btn-outline-success" style="width:80%">
                Live Data&nbsp;&nbsp;<i class="fa fa-line-chart" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
        {% if user.is_authenticated %}
        <tr>
            <td>
                <a href="{% url 'user-add-stock' user.username stock %}" class="btn btn-outline-info" style="width:80%">
                    Add Stock&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'user-buy-stock' user.username stock %}" class="btn btn-outline-success" style="width:80%">
                    Buy Stock&nbsp;&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endif %}
</table>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script> -->
{% endblock content %}