{% extends "strategies/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!DOCTYPE HTML>
<html>
<head>

<script>
    function get_live_price() {
        var price;
        $.ajax({
            url: "{% url 'price' stock=stock %}",
            success:  function(response){
                price = response.price
                document.getElementById("price").value = price
            }
        });
    };
    window.onload = function () {

        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
            title :{
                text: "Time Series"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });

        var xVal = 0;
        get_live_price()
        var yVal = document.getElementById("price").value;
        var updateInterval = 1000;
        var dataLength = 200; // number of dataPoints visible at any point

        var updateChart = function (count) {

            count = count || 1;

            for (var j = 0; j < count; j++) {
                get_live_price()
                var yVal = document.getElementById("price").value;
                console.log(yVal)
                dps.push({
                    x: xVal,
                    y: yVal
                });
                xVal++;
            }

            // if (dps.length > dataLength) {
            //     dps.shift();
            // }

            chart.render();
        };

        updateChart();
        setInterval(function(){updateChart()}, updateInterval);
    }
</script>
</head>
<body>
<div id="price"></div>
<h5>{{stock}}</h5>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
{% endblock content %}