{% extends "strategies/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Strategy Name</h5>
            <div class="project-info-box mt-0">
                <p class="mb-0">{{strategy.name}}</p>
            </div>
            <h5>Description</h5>
            <div class="project-info-box">
                <p class="mb-0">{{strategy.description}}</p>
            </div>
            <h5>Script</h5>
            <div>
                <pre style="max-height: 200px; overflow: scroll;"><code class="python">{{strategy.get_script_lines}}</code></pre>
            </div>
            <table class="pull-left">
                {% if user.is_authenticated %}
                <tr><td>
                    <a href="{% url 'strategy-edit' strategy.id %}" class="btn btn-outline-info pull-left" style="width:100%">
                        Edit Strategy&nbsp;&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'strategy-delete' strategy.id %}" class="btn btn-outline-danger pull-left" style="width:100%">
                        Delete Strategy&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'index' %}" class="btn btn-outline-warning pull-left" style="width:100%">
                        Homepage&nbsp;&nbsp;<i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'download-script' strategy.id %}" class="btn btn-outline-success pull-left" style="width:100%">
                        Download Script&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}